In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [20]:
df = pd.read_csv(r'C:\Users\Praveen Shahani\Desktop\Datasets\2021_OPM_FEVS_PRDF.csv')

In [21]:
## Checking if there is any duplicate values
df_2021.drop_duplicates() ##dropping all the duplicate values
df_2021.info()  ##checking the data types of every column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292520 entries, 0 to 292519
Data columns (total 79 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   RandomID  292520 non-null  int64
 1   agency    292520 non-null  object
 2   Q1        291074 non-null  float64
 3   Q2        288624 non-null  float64
 4   Q3        290112 non-null  float64
 5   Q4        291324 non-null  float64
 6   Q5        290770 non-null  object
 7   Q6        286449 non-null  object
 8   Q7        290240 non-null  object
 9   Q8        291451 non-null  object
 10  Q9        291910 non-null  float64
 11  Q10       292038 non-null  object
 12  Q11       292018 non-null  object
 13  Q12       291755 non-null  object
 14  Q13       291920 non-null  object
 15  Q14       291306 non-null  object
 16  Q15       288257 non-null  object
 17  Q16       290367 non-null  object
 18  Q17       290268 non-null  object
 19  Q18       291274 non-null  object
 20  Q19       291402 non-null  object
 21  Q20       289926 non-null  object
 22  Q21       290110 non-null  object
 23  Q22       290350 non-null  object
 24  Q23       289942 non-null  float64
 25  Q24       290169 non-null  object
 26  Q25       289267 non-null  object
 27  Q26       288926 non-null  object
 28  Q27       289019 non-null  object
 29  Q28       287561 non-null  float64
 30  Q29       287462 non-null  float64
 31  Q30       287369 non-null  float64
 32  Q31       288152 non-null  float64
 33  Q32       286521 non-null  object
 34  Q33       285246 non-null  object
 35  Q34       285497 non-null  object
 36  Q35       285918 non-null  object
 37  Q36       285299 non-null  object
 38  Q37       285213 non-null  object
 39  Q38       285251 non-null  object
 40  Q39       283445 non-null  float64
 41  Q40       282267 non-null  float64
 42  Q41       282219 non-null  float64
 43  Q42       281587 non-null  float64
 44  Q43       282840 non-null  float64
 45  Q44       283310 non-null  float64
 46  Q45       283136 non-null  float64
 47  Q46       282920 non-null  float64
 48  Q47_01    279206 non-null  float64
 49  Q47_02    277687 non-null  float64
 50  Q47_03    276577 non-null  float64
 51  Q47_04    277660 non-null  float64
 52  Q47_05    279221 non-null  float64
 53  Q47_06    278977 non-null  float64
 54  Q47_07    279162 non-null  float64
 55  Q47_08    279571 non-null  float64
 56  Q47_09    279786 non-null  float64
 57  Q47_10    278113 non-null  float64
 58  Q47_11    277685 non-null  float64
 59  Q48       280356 non-null  object
 60  Q49       279335 non-null  object
 61  Q50       278898 non-null  object
 62  Q51       280182 non-null  object
 63  Q52       279772 non-null  object
 64  Q53       279702 non-null  object
 65  Q54       280570 non-null  float64
 66  Q55       279820 non-null  object
 67  Q56       279481 non-null  object
 68  Q57       279607 non-null  object
 69  DRNO      240635 non-null  object
 70  DHISP     253732 non-null  object
 71  DDIS      258336 non-null  object
 72  DAGEGRP   260285 non-null  object
 73  DSUPER    272402 non-null  object
 74  DFEDTEN   272112 non-null  object
 75  DSEX      260998 non-null  object
 76  DMIL      272565 non-null  object
 77  DLEAVING  273309 non-null  object
 78  POSTWT    292520 non-null  float64
dtypes: float64(31), int64(1), object(47)
memory usage: 176.3+ MB

In [22]:
objects= [column for column, is_type in (df.dtypes=="object").items() if is_type]
print(objects)
## The column 'agency' holds no significance here so it is to be dropped.
objects.remove('agency')

['agency', 'Q5', 'Q6', 'Q7', 'Q8', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25', 'Q26', 'Q27', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q55', 'Q56', 'Q57', 'DRNO', 'DHISP', 'DDIS', 'DAGEGRP', 'DSUPER', 'DFEDTEN', 'DSEX', 'DMIL', 'DLEAVING']

In [23]:
import numpy as np
for i in objects:
    df[i] = df[i].replace(['X'], np.nan)

In [24]:
df.isnull().sum().sum()

1166370

In [25]:
objects[:-9]
for i in objects[:-9]:
    df[i] = df[i].astype(float)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292520 entries, 0 to 292519
Data columns (total 79 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   RandomID  292520 non-null  int64
 1   agency    292520 non-null  object
 2   Q1        291074 non-null  float64
 3   Q2        288624 non-null  float64
 4   Q3        290112 non-null  float64
 5   Q4        291324 non-null  float64
 6   Q5        290329 non-null  float64
 7   Q6        285707 non-null  float64
 8   Q7        289507 non-null  float64
 9   Q8        282470 non-null  float64
 10  Q9        291910 non-null  float64
 11  Q10       245119 non-null  float64
 12  Q11       219694 non-null  float64
 13  Q12       265187 non-null  float64
 14  Q13       289170 non-null  float64
 15  Q14       280411 non-null  float64
 16  Q15       281489 non-null  float64
 17  Q16       283480 non-null  float64
 18  Q17       283768 non-null  float64
 19  Q18       286829 non-null  float64
 20  Q19       284252 non-null  float64
 21  Q20       283882 non-null  float64
 22  Q21       282950 non-null  float64
 23  Q22       285361 non-null  float64
 24  Q23       289942 non-null  float64
 25  Q24       269172 non-null  float64
 26  Q25       287844 non-null  float64
 27  Q26       272204 non-null  float64
 28  Q27       285794 non-null  float64
 29  Q28       287561 non-null  float64
 30  Q29       287462 non-null  float64
 31  Q30       287369 non-null  float64
 32  Q31       288152 non-null  float64
 33  Q32       280913 non-null  float64
 34  Q33       269828 non-null  float64
 35  Q34       282666 non-null  float64
 36  Q35       279665 non-null  float64
 37  Q36       268910 non-null  float64
 38  Q37       281087 non-null  float64
 39  Q38       265328 non-null  float64
 40  Q39       283445 non-null  float64
 41  Q40       282267 non-null  float64
 42  Q41       282219 non-null  float64
 43  Q42       281587 non-null  float64
 44  Q43       282840 non-null  float64
 45  Q44       283310 non-null  float64
 46  Q45       283136 non-null  float64
 47  Q46       282920 non-null  float64
 48  Q47_01    279206 non-null  float64
 49  Q47_02    277687 non-null  float64
 50  Q47_03    276577 non-null  float64
 51  Q47_04    277660 non-null  float64
 52  Q47_05    279221 non-null  float64
 53  Q47_06    278977 non-null  float64
 54  Q47_07    279162 non-null  float64
 55  Q47_08    279571 non-null  float64
 56  Q47_09    279786 non-null  float64
 57  Q47_10    278113 non-null  float64
 58  Q47_11    277685 non-null  float64
 59  Q48       274064 non-null  float64
 60  Q49       272935 non-null  float64
 61  Q50       266239 non-null  float64
 62  Q51       276966 non-null  float64
 63  Q52       275389 non-null  float64
 64  Q53       274562 non-null  float64
 65  Q54       280570 non-null  float64
 66  Q55       269767 non-null  float64
 67  Q56       256567 non-null  float64
 68  Q57       271802 non-null  float64
 69  DRNO      240635 non-null  object
 70  DHISP     253732 non-null  object
 71  DDIS      258336 non-null  object
 72  DAGEGRP   260285 non-null  object
 73  DSUPER    272402 non-null  object
 74  DFEDTEN   272112 non-null  object
 75  DSEX      260998 non-null  object
 76  DMIL      272565 non-null  object
 77  DLEAVING  273309 non-null  object
 78  POSTWT    292520 non-null  float64
dtypes: float64(68), int64(1), object(10)
memory usage: 176.3+ MB

In [27]:
df_c = df.copy()
df_c

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DRNO,DHISP,DDIS,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVING,POSTWT
0,112970976817,XX,5.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,...,A,B,B,B,B,A,A,A,A,2.209652
1,194868625278,XX,3.0,2.0,4.0,3.0,4.0,2.0,4.0,2.0,...,NaN,A,B,B,B,B,A,A,C,2.209652
2,152966380283,XX,5.0,5.0,4.0,4.0,3.0,4.0,5.0,4.0,...,B,B,B,B,A,B,A,B,C,1.858874
3,193041162980,XX,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,B,B,A,B,B,B,A,A,A,1.228573
4,146655962451,XX,4.0,5.0,5.0,4.0,4.0,3.0,5.0,4.0,...,B,B,B,B,B,B,A,A,A,1.735842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292515,154057939422,ST,3.0,4.0,4.0,3.0,4.0,4.0,2.0,4.0,...,B,B,B,A,A,A,B,B,A,3.004992
292516,151758964104,ST,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,...,B,B,B,A,A,A,B,B,D,4.427855
292517,143492802997,ST,3.0,3.0,NaN,4.0,4.0,4.0,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,A,A,NaN,A,4.202227
292518,110267537558,ST,2.0,4.0,5.0,5.0,2.0,1.0,5.0,4.0,...,B,B,B,A,A,A,B,B,C,3.523113
292519,153195177928,ST,4.0,4.0,5.0,5.0,4.0,3.0,5.0,4.0,...,B,B,A,B,A,A,A,B,A,3.400784

### Starting with deleting the entire row

In [28]:
df_c = df_c.dropna()
df_c

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DRNO,DHISP,DDIS,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVING,POSTWT
3,193041162980,XX,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,B,B,A,B,B,B,A,A,A,1.228573
5,195312241136,XX,4.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,...,A,B,B,B,A,B,B,A,A,2.076046
6,187815423862,XX,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,B,B,B,B,B,B,A,A,A,1.858874
9,138139604049,XX,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,...,B,B,A,B,B,A,A,A,A,1.228573
12,135019931353,XX,4.0,4.0,5.0,5.0,2.0,2.0,4.0,4.0,...,B,B,B,B,B,B,B,B,A,1.089288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292503,199379325377,ST,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,...,C,B,B,A,B,A,A,B,A,5.774132
292513,102229919658,ST,5.0,5.0,5.0,4.0,2.0,5.0,5.0,5.0,...,B,A,B,A,A,A,A,A,A,5.476801
292514,117508083776,ST,3.0,4.0,4.0,4.0,3.0,4.0,4.0,3.0,...,B,B,B,A,A,A,A,B,A,3.487832
292516,151758964104,ST,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,...,B,B,B,A,A,A,B,B,D,4.427855
292518,110267537558,ST,2.0,4.0,5.0,5.0,2.0,1.0,5.0,4.0,...,B,B,B,A,A,A,B,B,C,3.523113

In [29]:
df_c.isnull().sum().sum() ##-> No missing values found in the dataset

0

In [30]:
print('The number of survey entries altered:',df.shape[0]-df_c.shape[0]) 
print('The percentage of alterations from the original dataset is: ',round(((df.shape[0]-df_c.shape[0])/(df.shape[0])),2)*100,'%')

The number of survey entries altered: 193392
The percentage of alterations from the original dataset is:  66.0 %

In [59]:
df_c['Year']=[2021 for _ in range(0,df_c.shape[0])]
df_c ## Data for the year 2021 is ready for analysis

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DHISP,DDIS,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVING,POSTWT,Year
3,193041162980,XX,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,B,A,B,B,B,A,A,A,1.228573,2021
5,195312241136,XX,4.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,...,B,B,B,A,B,B,A,A,2.076046,2021
6,187815423862,XX,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,B,B,B,B,B,A,A,A,1.858874,2021
9,138139604049,XX,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,...,B,A,B,B,A,A,A,A,1.228573,2021
12,135019931353,XX,4.0,4.0,5.0,5.0,2.0,2.0,4.0,4.0,...,B,B,B,B,B,B,B,A,1.089288,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292503,199379325377,ST,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,...,B,B,A,B,A,A,B,A,5.774132,2021
292513,102229919658,ST,5.0,5.0,5.0,4.0,2.0,5.0,5.0,5.0,...,A,B,A,A,A,A,A,A,5.476801,2021
292514,117508083776,ST,3.0,4.0,4.0,4.0,3.0,4.0,4.0,3.0,...,B,B,A,A,A,A,B,A,3.487832,2021
292516,151758964104,ST,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,...,B,B,A,A,A,B,B,D,4.427855,2021
292518,110267537558,ST,2.0,4.0,5.0,5.0,2.0,1.0,5.0,4.0,...,B,B,A,A,A,B,B,C,3.523113,2021

### Repeting for 2020

In [36]:
df_2020= pd.read_csv(r'C:\Users\Praveen Shahani\Desktop\Datasets\FEVS_2020_PRDF.csv')

In [37]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624800 entries, 0 to 624799
Columns: 134 entries, RandomID to POSTWT
dtypes: float64(70), object(64)
memory usage: 638.8+ MB

In [38]:
df_2020

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DDIS,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVINGA,DLEAVINGB,DLEAVINGC,POSTWT
0,1.129710e+11,XX,5.0,5.0,5.0,5.0,5,4,5,4,...,NaN,A,B,A,A,A,A,A,NaN,1.866270
1,1.948690e+11,XX,3.0,3.0,4.0,4.0,4,4,5,4,...,B,A,B,B,A,B,A,A,NaN,1.866270
2,1.529660e+11,XX,1.0,1.0,1.0,3.0,1,1,3,1,...,B,B,A,C,A,B,B,B,NaN,1.519342
3,1.930410e+11,XX,4.0,3.0,4.0,4.0,2,3,3,3,...,A,B,B,C,A,A,A,A,NaN,2.064296
4,1.466560e+11,XX,4.0,4.0,4.0,4.0,3,4,5,5,...,B,B,B,C,A,A,A,A,NaN,2.002741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624795,1.205750e+11,HS,5.0,5.0,4.0,4.0,2,4.0,4,3,...,B,B,A,B,B,B,A,C,B,1.068659
624796,1.995420e+11,HS,5.0,5.0,4.0,4.0,5,5.0,5,4,...,B,B,A,B,A,NaN,A,A,NaN,1.066930
624797,1.486760e+11,HS,4.0,2.0,3.0,4.0,3,4.0,4,1,...,NaN,NaN,A,NaN,B,NaN,C,C,NaN,1.068659
624798,1.264840e+11,HS,4.0,3.0,4.0,4.0,4,3.0,4,4,...,B,A,A,A,B,B,B,B,NaN,1.068659
624799,1.883730e+11,HS,4.0,5.0,5.0,5.0,5,5.0,5,5,...,B,A,B,A,B,B,A,A,NaN,1.053344

In [39]:
objects= [column for column, is_type in (df_2020.dtypes=="object").items() if is_type]
## The column 'agency' holds no significance here so it is to be dropped.
objects.remove('agency')
print(objects)

['Q5', 'Q6', 'Q7', 'Q8', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q18', 'Q19', 'Q20', 'Q21', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V15', 'V16', 'V17_01', 'V17_02', 'V17_03', 'V17_04', 'V17_05', 'V17_06', 'V18_01', 'V18_02', 'V18_03', 'V18_04', 'V18_05', 'V18_06', 'V19', 'V20', 'Q58', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'V23', 'V24', 'DRNO', 'DHISP', 'DDIS', 'DAGEGRP', 'DSUPER', 'DFEDTEN', 'DSEX', 'DMIL', 'DLEAVINGA', 'DLEAVINGB', 'DLEAVINGC']

In [60]:
for i in objects:
    df_2020[i] = df_2020[i].replace(['X'], np.nan)
    df_2020[i] = df_2020[i].replace(['Y'], np.nan)
print('The missing values are: ',df_2020.isnull().sum().sum())
for i in objects[:-11]:
    df_2020[i] = df_2020[i].astype(float)
df_c_2020 = df_2020.copy()
df_c_2020 = df_c_2020.dropna()
df_c_2020['Year']=[2020 for _ in range(0,df_c_2020.shape[0])]
df_c_2020 ## Data for the year 2020 is ready for analysis

The missing values are:  7073795

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVINGA,DLEAVINGB,DLEAVINGC,POSTWT,Year
339,1.952660e+11,AR,3.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,...,B,A,A,B,B,A,B,A,1.605646,2020
346,1.170570e+11,AR,3.0,3.0,3.0,5.0,5.0,1.0,4.0,1.0,...,A,A,A,A,B,A,B,A,1.929337,2020
3072,1.612820e+11,AR,3.0,4.0,4.0,4.0,2.0,3.0,4.0,4.0,...,A,B,B,B,B,C,A,A,1.208972,2020
4094,1.817010e+11,AR,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,A,A,A,B,B,A,B,A,1.595344,2020
4278,1.463780e+11,AR,4.0,4.0,5.0,5.0,2.0,5.0,5.0,5.0,...,B,B,B,A,B,C,A,A,1.206306,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619605,1.374950e+11,ST,4.0,2.0,3.0,2.0,4.0,3.0,4.0,3.0,...,B,B,B,B,B,A,B,A,1.437725,2020
619917,1.537490e+11,ST,4.0,4.0,5.0,5.0,3.0,5.0,5.0,5.0,...,B,B,C,A,B,A,D,B,2.572088,2020
621438,1.144590e+11,ST,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,...,A,B,B,B,B,A,D,A,2.425601,2020
621508,1.203510e+11,ST,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,...,B,A,C,B,B,C,A,A,2.530099,2020
622362,1.202490e+11,AG,2.0,4.0,4.0,4.0,2.0,3.0,4.0,3.0,...,A,A,A,B,B,A,D,A,1.036108,2020

In [61]:
df_2019= pd.read_csv(r'C:\Users\Praveen Shahani\Desktop\Datasets\FEVS_2019_PRDF_Revised_2020-04-27.csv')
df_2019

,AGENCY,LEVEL1,DSEX,DEDUC,DFEDTEN,DSUPER,DMINORITY,DLEAVING,Q1,Q2,...,Q75_5,Q75_6,Q75_7,Q75_8,Q75_9,Q75_10,Q76,Q77,POSTWT,RANDOM
0,XX,XXZZ,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,X,2.001266,112970976817
1,XX,XXZZ,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,X,1.946937,194868625278
2,XX,XXZZ,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5,1.655966,152966380283
3,XX,XXZZ,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5,1.655966,193041162980
4,XX,XXZZ,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5,3.317773,146655962451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615390,ST,ST26,NaN,NaN,NaN,NaN,NaN,A,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4,3.884929,195917179852
615391,ST,ST52,NaN,NaN,NaN,NaN,NaN,A,2.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,4.0,3,2.605186,122421001141
615392,ST,STZZ,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.155821,144845678119
615393,ST,STZZ,B,C,B,A,A,D,2.0,3.0,...,1.0,1.0,1.0,1.0,0.0,0.0,2.0,2,2.921532,147225017727
615394,ST,STZZ,A,C,B,A,A,B,3.0,3.0,...,1.0,1.0,1.0,1.0,0.0,0.0,4.0,5,1.411139,180753642218

In [62]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615395 entries, 0 to 615394
Data columns (total 95 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AGENCY     615395 non-null  object
 1   LEVEL1     615395 non-null  object
 2   DSEX       519438 non-null  object
 3   DEDUC      525348 non-null  object
 4   DFEDTEN    535986 non-null  object
 5   DSUPER     540209 non-null  object
 6   DMINORITY  515813 non-null  object
 7   DLEAVING   575561 non-null  object
 8   Q1         611219 non-null  float64
 9   Q2         611571 non-null  float64
 10  Q3         609335 non-null  float64
 11  Q4         612601 non-null  float64
 12  Q5         612232 non-null  float64
 13  Q6         612111 non-null  float64
 14  Q7         612974 non-null  float64
 15  Q8         613544 non-null  float64
 16  Q9         609989 non-null  object
 17  Q10        610908 non-null  object
 18  Q11        607540 non-null  object
 19  Q12        612042 non-null  object
 20  Q13        611781 non-null  object
 21  Q14        613531 non-null  object
 22  Q15        612732 non-null  object
 23  Q16        612076 non-null  object
 24  Q17        612697 non-null  object
 25  Q18        613167 non-null  object
 26  Q19        612678 non-null  object
 27  Q20        611209 non-null  float64
 28  Q21        607500 non-null  object
 29  Q22        606399 non-null  object
 30  Q23        606749 non-null  object
 31  Q24        607327 non-null  object
 32  Q25        607102 non-null  object
 33  Q26        607578 non-null  object
 34  Q27        606701 non-null  object
 35  Q28        606946 non-null  float64
 36  Q29        607203 non-null  object
 37  Q30        598556 non-null  object
 38  Q31        598409 non-null  object
 39  Q32        595827 non-null  object
 40  Q33        597948 non-null  object
 41  Q34        598471 non-null  object
 42  Q35        599274 non-null  object
 43  Q36        597151 non-null  object
 44  Q37        598528 non-null  object
 45  Q38        597219 non-null  object
 46  Q39        598601 non-null  object
 47  Q40        598080 non-null  float64
 48  Q41        598457 non-null  object
 49  Q42        596318 non-null  object
 50  Q43        595814 non-null  object
 51  Q44        595304 non-null  object
 52  Q45        595484 non-null  object
 53  Q46        595904 non-null  object
 54  Q47        595866 non-null  object
 55  Q48        594429 non-null  float64
 56  Q49        594280 non-null  float64
 57  Q50        594433 non-null  float64
 58  Q51        594262 non-null  float64
 59  Q52        594144 non-null  float64
 60  Q53        590265 non-null  object
 61  Q54        589822 non-null  object
 62  Q55        587427 non-null  object
 63  Q56        588611 non-null  object
 64  Q57        589306 non-null  object
 65  Q58        589872 non-null  object
 66  Q59        586164 non-null  object
 67  Q60        588922 non-null  object
 68  Q61        588472 non-null  object
 69  Q62        588144 non-null  object
 70  Q63        585087 non-null  float64
 71  Q64        584983 non-null  float64
 72  Q65        584700 non-null  float64
 73  Q66        584390 non-null  float64
 74  Q67        584169 non-null  float64
 75  Q68        584592 non-null  float64
 76  Q69        584624 non-null  float64
 77  Q70        584219 non-null  float64
 78  Q71        581919 non-null  float64
 79  Q73        583875 non-null  float64
 80  Q74        576262 non-null  float64
 81  Q75_1      324309 non-null  float64
 82  Q75_2      324309 non-null  float64
 83  Q75_3      324309 non-null  float64
 84  Q75_4      324309 non-null  float64
 85  Q75_5      324309 non-null  float64
 86  Q75_6      324309 non-null  float64
 87  Q75_7      324309 non-null  float64
 88  Q75_8      324309 non-null  float64
 89  Q75_9      324309 non-null  float64
 90  Q75_10     324309 non-null  float64
 91  Q76        579912 non-null  float64
 92  Q77        581981 non-null  object
 93  POSTWT     615395 non-null  float64
 94  RANDOM     615395 non-null  int64
dtypes: float64(39), int64(1), object(55)
memory usage: 446.0+ MB

In [64]:
objects= [column for column, is_type in (df_2019.dtypes=="object").items() if is_type]
## The column 'agency' holds no significance here so it is to be dropped.
objects.remove('AGENCY')
print(objects)

['LEVEL1', 'DSEX', 'DEDUC', 'DFEDTEN', 'DSUPER', 'DMINORITY', 'DLEAVING', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q77']

In [67]:
for i in objects:
    df_2019[i] = df_2019[i].replace(['X'], np.nan)
    df_2019[i] = df_2019[i].replace(['Y'], np.nan)
print('The missing values are: ',df_2019.isnull().sum().sum())
for i in objects[7:]:
    df_2019[i] = df_2019[i].astype(float)
df_c_2019 = df_2019.copy()
df_c_2019 = df_c_2019.dropna()
df_c_2019['Year']=[2019 for _ in range(0,df_c_2019.shape[0])]
df_c_2019 ## Data for the year 2019 is ready for analysis

The missing values are:  5643280

,AGENCY,LEVEL1,DSEX,DEDUC,DFEDTEN,DSUPER,DMINORITY,DLEAVING,Q1,Q2,...,Q75_6,Q75_7,Q75_8,Q75_9,Q75_10,Q76,Q77,POSTWT,RANDOM,Year
71,AR,ARCE,A,B,C,B,A,D,4.0,4.0,...,1.0,1.0,1.0,0.0,0.0,4.0,4.0,1.507912,114110888547,2019
80,AR,ARCE,A,A,A,A,A,A,4.0,3.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.008193,116284497602,2019
87,AR,ARCE,A,B,C,B,A,D,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,1.078334,189517424855,2019
105,AR,ARCE,B,A,C,A,A,A,4.0,4.0,...,1.0,0.0,1.0,0.0,0.0,4.0,3.0,1.525104,186332954739,2019
108,AR,ARCE,A,B,C,A,B,A,4.0,4.0,...,1.0,0.0,0.0,1.0,0.0,3.0,3.0,1.628180,193443424577,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615382,ST,STZZ,B,C,A,A,B,A,4.0,4.0,...,1.0,0.0,1.0,0.0,0.0,4.0,5.0,1.828640,184806788891,2019
615384,ST,ST52,B,B,B,B,B,A,4.0,4.0,...,0.0,1.0,1.0,0.0,0.0,4.0,3.0,2.880519,131156529407,2019
615387,ST,STZZ,B,B,A,A,A,A,2.0,4.0,...,0.0,0.0,1.0,0.0,0.0,4.0,5.0,1.305770,107685835197,2019
615393,ST,STZZ,B,C,B,A,A,D,2.0,3.0,...,1.0,1.0,1.0,0.0,0.0,2.0,2.0,2.921532,147225017727,2019
615394,ST,STZZ,A,C,B,A,A,B,3.0,3.0,...,1.0,1.0,1.0,0.0,0.0,4.0,5.0,1.411139,180753642218,2019

In [68]:
df_2018= pd.read_csv(r'C:\Users\Praveen Shahani\Desktop\Datasets\FEVS_2018_PRDF.csv')
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598003 entries, 0 to 598002
Data columns (total 81 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AGENCY     598003 non-null  object
 1   LEVEL1     598003 non-null  object
 2   DSEX       518903 non-null  object
 3   DEDUC      520623 non-null  object
 4   DFEDTEN    524927 non-null  object
 5   DSUPER     534041 non-null  object
 6   DMINORITY  510686 non-null  object
 7   DLEAVING   567838 non-null  object
 8   Q1         593452 non-null  float64
 9   Q2         594618 non-null  float64
 10  Q3         592301 non-null  float64
 11  Q4         595361 non-null  float64
 12  Q5         594820 non-null  float64
 13  Q6         594967 non-null  float64
 14  Q7         595789 non-null  float64
 15  Q8         596179 non-null  float64
 16  Q9         592449 non-null  object
 17  Q10        593922 non-null  object
 18  Q11        590435 non-null  object
 19  Q12        594921 non-null  object
 20  Q13        594584 non-null  object
 21  Q14        596152 non-null  object
 22  Q15        595406 non-null  object
 23  Q16        595050 non-null  object
 24  Q17        595441 non-null  object
 25  Q18        595908 non-null  object
 26  Q19        596573 non-null  object
 27  Q20        596010 non-null  float64
 28  Q21        595424 non-null  object
 29  Q22        594442 non-null  object
 30  Q23        594861 non-null  object
 31  Q24        595293 non-null  object
 32  Q25        595126 non-null  object
 33  Q26        595465 non-null  object
 34  Q27        594438 non-null  object
 35  Q28        594870 non-null  float64
 36  Q29        595092 non-null  object
 37  Q30        587509 non-null  object
 38  Q31        587547 non-null  object
 39  Q32        585149 non-null  object
 40  Q33        586971 non-null  object
 41  Q34        587332 non-null  object
 42  Q35        588275 non-null  object
 43  Q36        586440 non-null  object
 44  Q37        587636 non-null  object
 45  Q38        586042 non-null  object
 46  Q39        587592 non-null  object
 47  Q40        587300 non-null  float64
 48  Q41        587479 non-null  object
 49  Q42        585835 non-null  object
 50  Q43        585578 non-null  object
 51  Q44        585174 non-null  object
 52  Q45        585242 non-null  object
 53  Q46        585630 non-null  object
 54  Q47        585571 non-null  object
 55  Q48        584389 non-null  float64
 56  Q49        584328 non-null  float64
 57  Q50        584446 non-null  float64
 58  Q51        584288 non-null  float64
 59  Q52        583956 non-null  float64
 60  Q53        580866 non-null  object
 61  Q54        580696 non-null  object
 62  Q55        578620 non-null  object
 63  Q56        579472 non-null  object
 64  Q57        580227 non-null  object
 65  Q58        580792 non-null  object
 66  Q59        577028 non-null  object
 67  Q60        579743 non-null  object
 68  Q61        579369 non-null  object
 69  Q62        579226 non-null  object
 70  Q63        577168 non-null  float64
 71  Q64        577134 non-null  float64
 72  Q65        576832 non-null  float64
 73  Q66        576502 non-null  float64
 74  Q67        576188 non-null  float64
 75  Q68        576705 non-null  float64
 76  Q69        576774 non-null  float64
 77  Q70        576483 non-null  float64
 78  Q71        574352 non-null  float64
 79  POSTWT     598003 non-null  float64
 80  RANDOM     598003 non-null  int64
dtypes: float64(26), int64(1), object(54)
memory usage: 369.6+ MB

In [70]:
objects= [column for column, is_type in (df_2018.dtypes=="object").items() if is_type]
## The column 'agency' holds no significance here so it is to be dropped.
objects.remove('AGENCY')
print(objects)

['LEVEL1', 'DSEX', 'DEDUC', 'DFEDTEN', 'DSUPER', 'DMINORITY', 'DLEAVING', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62']

In [71]:
for i in objects:
    df_2018[i] = df_2018[i].replace(['X'], np.nan)
    df_2018[i] = df_2018[i].replace(['Y'], np.nan)
print('The missing values are: ',df_2018.isnull().sum().sum())
for i in objects[7:]:
    df_2018[i] = df_2018[i].astype(float)
df_c_2018 = df_2018.copy()
df_c_2018 = df_c_2018.dropna()
df_c_2018['Year']=[2018 for _ in range(0,df_c_2018.shape[0])]
df_c_2018 ## Data for the year 2019 is ready for analysis

The missing values are:  2016910

,AGENCY,LEVEL1,DSEX,DEDUC,DFEDTEN,DSUPER,DMINORITY,DLEAVING,Q1,Q2,...,Q65,Q66,Q67,Q68,Q69,Q70,Q71,POSTWT,RANDOM,Year
35,AR,ARCE,A,B,A,A,A,A,4.0,4.0,...,4.0,4.0,3.0,4.0,5.0,4.0,5.0,1.584745,180563326403,2018
36,AR,ARCE,A,A,A,A,B,B,3.0,2.0,...,3.0,2.0,3.0,2.0,2.0,4.0,4.0,1.486504,173832153842,2018
38,AR,ARCE,B,A,B,A,B,B,2.0,1.0,...,3.0,2.0,1.0,3.0,4.0,4.0,4.0,1.437046,173060526266,2018
39,AR,ARCE,A,B,A,A,B,A,2.0,5.0,...,4.0,4.0,2.0,2.0,4.0,4.0,4.0,1.486504,143121577679,2018
42,AR,ARCE,B,C,B,A,B,D,2.0,4.0,...,4.0,3.0,2.0,3.0,4.0,4.0,4.0,1.179178,197365764014,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597992,ST,STZZ,B,B,A,A,A,A,3.0,3.0,...,1.0,2.0,2.0,2.0,4.0,3.0,4.0,4.202206,112751993543,2018
597993,ST,ST52,B,B,B,B,B,A,4.0,4.0,...,3.0,4.0,3.0,4.0,3.0,3.0,3.0,2.548986,141896387209,2018
597997,ST,STZZ,B,C,A,A,A,B,5.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.232731,102237303509,2018
597998,ST,STZZ,A,B,B,B,A,A,5.0,4.0,...,5.0,5.0,4.0,4.0,5.0,2.0,4.0,5.840522,113488981460,2018
597999,ST,STZZ,B,C,A,A,A,A,2.0,3.0,...,3.0,4.0,3.0,4.0,3.0,1.0,2.0,5.307930,159795404439,2018

In [72]:
df_2017= pd.read_csv(r'C:\Users\Praveen Shahani\Desktop\Datasets\FEVS_2017_PRDF.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292520 entries, 0 to 292519
Data columns (total 79 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   RandomID  292520 non-null  int64
 1   agency    292520 non-null  object
 2   Q1        291074 non-null  float64
 3   Q2        288624 non-null  float64
 4   Q3        290112 non-null  float64
 5   Q4        291324 non-null  float64
 6   Q5        290329 non-null  float64
 7   Q6        285707 non-null  float64
 8   Q7        289507 non-null  float64
 9   Q8        282470 non-null  float64
 10  Q9        291910 non-null  float64
 11  Q10       245119 non-null  float64
 12  Q11       219694 non-null  float64
 13  Q12       265187 non-null  float64
 14  Q13       289170 non-null  float64
 15  Q14       280411 non-null  float64
 16  Q15       281489 non-null  float64
 17  Q16       283480 non-null  float64
 18  Q17       283768 non-null  float64
 19  Q18       286829 non-null  float64
 20  Q19       284252 non-null  float64
 21  Q20       283882 non-null  float64
 22  Q21       282950 non-null  float64
 23  Q22       285361 non-null  float64
 24  Q23       289942 non-null  float64
 25  Q24       269172 non-null  float64
 26  Q25       287844 non-null  float64
 27  Q26       272204 non-null  float64
 28  Q27       285794 non-null  float64
 29  Q28       287561 non-null  float64
 30  Q29       287462 non-null  float64
 31  Q30       287369 non-null  float64
 32  Q31       288152 non-null  float64
 33  Q32       280913 non-null  float64
 34  Q33       269828 non-null  float64
 35  Q34       282666 non-null  float64
 36  Q35       279665 non-null  float64
 37  Q36       268910 non-null  float64
 38  Q37       281087 non-null  float64
 39  Q38       265328 non-null  float64
 40  Q39       283445 non-null  float64
 41  Q40       282267 non-null  float64
 42  Q41       282219 non-null  float64
 43  Q42       281587 non-null  float64
 44  Q43       282840 non-null  float64
 45  Q44       283310 non-null  float64
 46  Q45       283136 non-null  float64
 47  Q46       282920 non-null  float64
 48  Q47_01    279206 non-null  float64
 49  Q47_02    277687 non-null  float64
 50  Q47_03    276577 non-null  float64
 51  Q47_04    277660 non-null  float64
 52  Q47_05    279221 non-null  float64
 53  Q47_06    278977 non-null  float64
 54  Q47_07    279162 non-null  float64
 55  Q47_08    279571 non-null  float64
 56  Q47_09    279786 non-null  float64
 57  Q47_10    278113 non-null  float64
 58  Q47_11    277685 non-null  float64
 59  Q48       274064 non-null  float64
 60  Q49       272935 non-null  float64
 61  Q50       266239 non-null  float64
 62  Q51       276966 non-null  float64
 63  Q52       275389 non-null  float64
 64  Q53       274562 non-null  float64
 65  Q54       280570 non-null  float64
 66  Q55       269767 non-null  float64
 67  Q56       256567 non-null  float64
 68  Q57       271802 non-null  float64
 69  DRNO      240635 non-null  object
 70  DHISP     253732 non-null  object
 71  DDIS      258336 non-null  object
 72  DAGEGRP   260285 non-null  object
 73  DSUPER    272402 non-null  object
 74  DFEDTEN   272112 non-null  object
 75  DSEX      260998 non-null  object
 76  DMIL      272565 non-null  object
 77  DLEAVING  273309 non-null  object
 78  POSTWT    292520 non-null  float64
dtypes: float64(68), int64(1), object(10)
memory usage: 176.3+ MB

In [75]:
df_c_2017 = df_2017.copy()
df_c_2017 = df_c_2017.dropna()
df_c_2017['Year']=[2017 for _ in range(0,df_c_2017.shape[0])]
df_c_2017 ## Data for the year 2019 is ready for analysis

,AGENCY,LEVEL1,DSEX,DEDUC,DFEDTEN,DSUPER,DMINORITY,DLEAVING,Q1,Q2,...,Q64,Q65,Q66,Q67,Q68,Q69,Q70,Q71,POSTWT,Year
0,AF,AF0J,A,B,A,A,B,B,4.0,4.0,...,3.0,5.0,4.0,3.0,4.0,4.0,4.0,4.0,3.494030,2017
3,AF,AF1M,A,C,A,B,B,B,5.0,5.0,...,5.0,3.0,5.0,5.0,5.0,5.0,4.0,5.0,31.339752,2017
5,VA,VA02,B,B,A,A,B,A,4.0,4.0,...,3.0,3.0,3.0,3.0,4.0,4.0,5.0,4.0,10.401746,2017
6,VA,VA02,B,A,B,A,A,C,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,9.207753,2017
7,VA,VA02,B,C,A,A,B,A,4.0,4.0,...,2.0,4.0,2.0,3.0,4.0,4.0,4.0,4.0,5.137691,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486095,CM,CM03,B,A,B,B,A,A,3.0,2.0,...,3.0,4.0,4.0,4.0,5.0,5.0,3.0,5.0,2.571300,2017
486099,CM,CM03,A,C,B,A,B,A,4.0,5.0,...,2.0,3.0,3.0,2.0,4.0,4.0,4.0,3.0,2.294195,2017
486100,CM,CM03,B,B,A,A,B,A,4.0,4.0,...,2.0,4.0,3.0,3.0,4.0,4.0,2.0,3.0,1.841444,2017
486101,XX,XXZZ,A,B,A,A,A,A,3.0,4.0,...,5.0,5.0,4.0,3.0,3.0,5.0,4.0,4.0,1.084436,2017
486104,CM,CM03,A,B,A,A,B,A,3.0,4.0,...,3.0,4.0,4.0,3.0,4.0,4.0,3.0,4.0,2.001725,2017

In [76]:
df_2016= pd.read_csv(r'C:\Users\Praveen Shahani\Desktop\Datasets\fevs_2016_prdf.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292520 entries, 0 to 292519
Data columns (total 79 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   RandomID  292520 non-null  int64
 1   agency    292520 non-null  object
 2   Q1        291074 non-null  float64
 3   Q2        288624 non-null  float64
 4   Q3        290112 non-null  float64
 5   Q4        291324 non-null  float64
 6   Q5        290329 non-null  float64
 7   Q6        285707 non-null  float64
 8   Q7        289507 non-null  float64
 9   Q8        282470 non-null  float64
 10  Q9        291910 non-null  float64
 11  Q10       245119 non-null  float64
 12  Q11       219694 non-null  float64
 13  Q12       265187 non-null  float64
 14  Q13       289170 non-null  float64
 15  Q14       280411 non-null  float64
 16  Q15       281489 non-null  float64
 17  Q16       283480 non-null  float64
 18  Q17       283768 non-null  float64
 19  Q18       286829 non-null  float64
 20  Q19       284252 non-null  float64
 21  Q20       283882 non-null  float64
 22  Q21       282950 non-null  float64
 23  Q22       285361 non-null  float64
 24  Q23       289942 non-null  float64
 25  Q24       269172 non-null  float64
 26  Q25       287844 non-null  float64
 27  Q26       272204 non-null  float64
 28  Q27       285794 non-null  float64
 29  Q28       287561 non-null  float64
 30  Q29       287462 non-null  float64
 31  Q30       287369 non-null  float64
 32  Q31       288152 non-null  float64
 33  Q32       280913 non-null  float64
 34  Q33       269828 non-null  float64
 35  Q34       282666 non-null  float64
 36  Q35       279665 non-null  float64
 37  Q36       268910 non-null  float64
 38  Q37       281087 non-null  float64
 39  Q38       265328 non-null  float64
 40  Q39       283445 non-null  float64
 41  Q40       282267 non-null  float64
 42  Q41       282219 non-null  float64
 43  Q42       281587 non-null  float64
 44  Q43       282840 non-null  float64
 45  Q44       283310 non-null  float64
 46  Q45       283136 non-null  float64
 47  Q46       282920 non-null  float64
 48  Q47_01    279206 non-null  float64
 49  Q47_02    277687 non-null  float64
 50  Q47_03    276577 non-null  float64
 51  Q47_04    277660 non-null  float64
 52  Q47_05    279221 non-null  float64
 53  Q47_06    278977 non-null  float64
 54  Q47_07    279162 non-null  float64
 55  Q47_08    279571 non-null  float64
 56  Q47_09    279786 non-null  float64
 57  Q47_10    278113 non-null  float64
 58  Q47_11    277685 non-null  float64
 59  Q48       274064 non-null  float64
 60  Q49       272935 non-null  float64
 61  Q50       266239 non-null  float64
 62  Q51       276966 non-null  float64
 63  Q52       275389 non-null  float64
 64  Q53       274562 non-null  float64
 65  Q54       280570 non-null  float64
 66  Q55       269767 non-null  float64
 67  Q56       256567 non-null  float64
 68  Q57       271802 non-null  float64
 69  DRNO      240635 non-null  object
 70  DHISP     253732 non-null  object
 71  DDIS      258336 non-null  object
 72  DAGEGRP   260285 non-null  object
 73  DSUPER    272402 non-null  object
 74  DFEDTEN   272112 non-null  object
 75  DSEX      260998 non-null  object
 76  DMIL      272565 non-null  object
 77  DLEAVING  273309 non-null  object
 78  POSTWT    292520 non-null  float64
dtypes: float64(68), int64(1), object(10)
memory usage: 176.3+ MB

In [77]:
df_c_2016 = df_2016.copy()
df_c_2016 = df_c_2016.dropna()
df_c_2016['Year']=[2016 for _ in range(0,df_c_2016.shape[0])]
df_c_2016 ## Data for the year 2016 is ready for analysis

,AGENCY,plevel1,DSUPER,DSEX,DAGEGRP,DMINORITY,DLEAVING,Q1,Q2,Q3,...,Q65,Q66,Q67,Q68,Q69,Q70,Q71,POSTWT,RANDOM,Year
3,TR,TR93,A,A,B,B,D,3.0,4.0,4.0,...,2.0,3.0,2.0,2.0,3.0,2.0,3.0,1.712981,182340267524,2016
4,HE,HE09,B,B,B,B,A,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1.728315,154503542210,2016
5,HE,HE06,B,A,B,A,A,4.0,4.0,4.0,...,2.0,4.0,2.0,2.0,4.0,1.0,2.0,1.367087,100134323817,2016
6,CM,CM03,A,B,B,B,D,3.0,3.0,3.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,9.397473,117285345642,2016
7,AF,AF0J,A,A,B,B,A,5.0,5.0,5.0,...,5.0,5.0,2.0,5.0,5.0,5.0,5.0,4.147942,166971123901,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407780,ST,STZZ,B,A,B,B,A,4.0,4.0,4.0,...,4.0,4.0,4.0,3.0,5.0,5.0,5.0,2.695876,125333271094,2016
407782,ST,STZZ,B,B,B,A,A,5.0,4.0,4.0,...,3.0,3.0,3.0,2.0,3.0,4.0,4.0,2.084578,107501630768,2016
407784,ST,STZZ,A,A,B,A,A,4.0,4.0,4.0,...,4.0,4.0,4.0,3.0,4.0,4.0,4.0,3.936861,197296849496,2016
407785,ST,STZZ,A,A,A,A,A,5.0,5.0,4.0,...,5.0,5.0,4.0,5.0,5.0,5.0,5.0,7.731838,162958498235,2016
407787,ST,STZZ,A,B,A,A,B,5.0,5.0,5.0,...,5.0,5.0,4.0,5.0,5.0,3.0,5.0,17.990146,161991853435,2016

In [79]:
df_c.to_csv('data_2021')
df_c_2020.to_csv('data_2020')
df_c_2019.to_csv('data_2019')
df_c_2018.to_csv('data_2018')
df_c_2017.to_csv('data_2017')
df_c_2016.to_csv('data_2016')